.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); /* Subtract header and footer height */
  }
  
  .dashboard-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .dashboard-content {
    width: 300px;
    text-align: center;
    margin-top: 1rem;
  }
  
  .dashboard-logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .dashboard-generate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  