.footer {
    background-color: #263f6a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }

  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  