.header {
    background-color: #263f6a;
    padding: 10px 0;
  }
  
  .header nav {
    display: flex;
    justify-content: center;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .header-link:hover {
    text-decoration: underline;
  }
  