.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); /* Subtract header and footer height */
  }

.inster-logo {
  max-width: 600px; /* Adjust the maximum width to your preference */
  height: auto; /* Maintain the aspect ratio */
}
  