.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); /* Subtract header and footer height */
  }
  
  .login-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .login-form {
    width: 300px;
    text-align: center;
  }
  
  .login-input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  